<form class="ui inverted violet center aligned stacked segment form" action="/dashboard/addbookmark" method="POST">
    <div class="field">
      <label>Sector of space</label>
      <input placeholder="Title" type="text" name="title">
    </div>
  
  <button class="ui purple submit button">Add Bookmark sector</button>
</form>