<form class="ui inverted violet equal width stacked segment form" action="/bookmark/{{bookmark.id}}/addlink" method="POST">
<div class="three fields">
    <div class="field">
      <label>bookmark</label>
      <input placeholder="bookmark name" type="text" name="bookmark">
    </div>
    <div class="field">
      <label>Link</label>
      <input placeholder="Link" type="text" name="link">
    </div>
     <div class="field">
      <label>Summary</label>
      <input placeholder="Summary" type="text" name="summary">
    </div>
  </div>
  <button class="ui inverted purple submit button">Add bookmark</button>
</form>