{{> menu id="about"}}

<section class="ui inverted violet center aligned stacked segment">

  <h1 class="ui huge header">
    A Little Bookmarker 
  </h1>
  <h2 class="ui sub header">
  Total comments: {{comments.length}}
  </h2>
  </br>
  <div class="ui fluid aligned image">
  <img src="https://i.imgur.com/MnCjxDW.png">
</div>
  <h2 class="ui huge header">
    Contact:<br/>
    </h2>
    <h3 class="ui medium header">
    <br/>
    Sir. Mistake<br/> 
    Mistake Island<br/>
    Tel: 020 918 1550
  </h3>
  <h4 class="ui huge header">
    Give me all the criticism
  </h4>  
  {{> comments}}