{{> menu id="dashboard"}}
<section class="ui inverted purple center aligned segment">
  <h1 class="ui header">
    Welcome to the bookmark overview
  </h1>
  <p>
    Create bookmarks
  </p>
</section>
<section class="ui inverted violet segment">
  {{> listbookmarks}}
  {{> addbookmark}}
</section>